body{
    background-color:#121217;
}

label,input {
    display: block;
    height: 30px auto;
}

textarea{
    height: auto;
    width: 100%;
}

.text{
    color: rgb(135, 135, 248);
}

.login-button{
    text-align: center;   
}

.login-button a{
    background-color: #00a8e8;
}

.login-button a:hover{
    background-color: rgb(45, 45, 255)
}

.hidden{
    opacity: 0;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 2s;
}

@keyframes hidden {
    from {opacity: 1; transform: scale(.7,.7)}
    to {opacity: 0;}
}
.hidden-element {
  animation: hidden 2s;
}

#top{
    margin-bottom: 0px;
}

#bottom{
    margin-top: 0px;
    margin-left: 8px;
    text-align: justify;
}

#submit-button{
    float: right;
    background-color: #00a8e8;
    color: white;
    border-radius: 20px;
    border: 0px;
}

#submit-button:hover{
    background-color: rgb(45, 45, 255);
    cursor: pointer;
}

#comment-block{
    background-color: #00a8e8;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
}

