{% extends "firstapp/base.html"%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "firstapp/css/bio.css" %}">
{% endblock %}
{%block title%} Bio {% endblock %}
    {% block content %} 
    <div id="progress-bar"></div> 	
    <div id="scroll-path"></div>

    <div class = "container">
        
        <div class="hidden text block" id="first">
            <h2>About Me</h2>
            <p>{{message|linebreaks}}</p>
        </div>
        <br>
        <br>
        <div class="hidden text block" id = "cv-block">
            <h2>Resume</h2>
            <a id="cv" href="{% static 'firstapp/files/Resume.pdf' %}" target="_blank">
            	&#128221;Have a look at my CV </a>
        </div>
        <br>
        <br>
        <div class="hidden text block" id="skills-block">
            <h2>Technical Skills</h2>
            {% for skill in skills %}
                <p id = "skills">⦾ {{skill}}&nbsp</p>
            {% endfor %}
        </div>
    </div>
    <script src = "{% static "firstapp/scripts/bio_and_feedback.js" %}"></script>
    
    {% endblock %}