{% extends "firstapp/base.html"%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "firstapp/css/bio.css" %}">
{% endblock %}
{%block title%} Shyam | Bio Page {% endblock %}
    {% block content %} 
    <div id="progress-bar"></div> 	
    <div id="scroll-path"></div>

    <div class = "container">
        
        <div class="hidden text block" id="first">
            <h2>About Me</h2>
            <p>{{message|linebreaks}}</p>
        </div>
        <br>
        <br>
        <div class="hidden text block" id = "cv-block">
            <h2>Resume</h2>
            <a id="cv" href="{% static 'firstapp/files/Resume.pdf' %}" target="_blank">
            	&#128221;Have a look at my CV </a>
              
        </div>
        <br>
        <br>
        <div class="hidden text block" id="skills-block">
            <h2>Technical Skills</h2>
            {% for skill in skills %}
                <p id = "skills">⦾ {{skill}}&nbsp</p>
            {% endfor %}
          </div>
          <br>
          <br>
        <div id="carouselExampleControls" class="carousel slide hidden" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Projects</h5>
                  <p>Click on the arrow buttons to navigate. Click anywhere on slide to redirect to the corresponding
                    source code.
                  </p>
                </div>
              </div>
              {% for repo in repos %}
              <div class="carousel-item">
                <a href = "{{repo.html_url}}" target = "_blank">
                <div class="carousel-caption d-md-block">
                  <h5><span id="blueish">class</span> <span id="yellowish">Project</span>:</h5>
                  <p>&nbsp;<span id="blueish">def</span> <span id="yellowish">__init__</span>(self):</p>
                  <p>&nbsp;&nbsp;<span id="blueish">self</span>.name = '<span id="yellowish">{{repo.name}}</span>'</p>
                  <p>&nbsp;&nbsp;<span id="blueish">self</span>.link = '<span id="yellowish"><a href="{{repo.html_url}}">Click me!</a></span>'</p>
                  {% if repo.description != None %}
                      <p class="collapse-item">&nbsp;&nbsp;<span id="blueish">self</span>.description ='{{<span id="yellowish">repo.description}}</span>'</p>
                  {% endif %}
                </div>
                </a>
              </div>
              {% endfor %}
              
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
    <br>
    <br>
    <script src = "{% static "firstapp/scripts/bio_and_feedback.js" %}"></script>
    
    {% endblock %}