{% extends "firstapp/base.html"%}
{% load static %}
{% load socialaccount %}
{%block head%} 
<link rel="stylesheet" type="text/css" href="{% static "firstapp/css/feedback.css" %}">
{%endblock%}
{%block title%} Feedback {% endblock %}
    {% block content %} 
    <div class = "container">
        <div class="jumbotron">
            <h1>Feedback Page</h1>
            <h2>{{message}}</h2>
        </div>

        
        {% if user.is_authenticated %}
            <!-- <img src = "{{user.picture_url}}"> -->
        <div class="container-fluid">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
        {% else %}
        
        <div class="jumbotron">
            <a href="{% provider_login_url 'linkedin_oauth2' %}" class="btn btn-secondary">
                <i class="fa fa-linkedin fa-fw"></i>
                <span>Login with LinkedIn to post a Feedback!</span>
            </a>
            
        </div>
        {% endif %}
        <br>
        <div class="jumbotron">
            <div class="row">
                {% for entry in feedbacks %}

                    <div class="col-sm-4">{{entry.name}}({{entry.post_time}})</div>
                    <div class="col-sm-8">{{entry.comment}}</div>
                    <br>
                {% endfor %}
         </div>
        </div>
    </div>
    {% endblock %}