{% extends 'firstapp/base.html' %}
{% load static %}
{% load socialaccount %}
{%block head%} 
<link rel="stylesheet" type="text/css" href="{% static "firstapp/css/index.css" %}">

{%endblock%}

    {% block title%}Shyam | Index Page{%endblock%}

    {% block content %}

    <div class="container">
        <div class="content jumbotron text-center reveal-block">
            <div class="cover first"></div>
            <div class="cover second"></div>
            <div class="cover third"></div>
            <div class="cover fourth"></div>
            <div class="text">
                <h1>Hello, 
                    {% if user.is_authenticated %}
                    <span class = "backspace">
                        {{message}}, {{ user.first_name }}.
                    </span>
                    {% else %}
                    {{message}}.
                    {% endif %}
                    
                </h1>   
            </div>
        </div>

        <div class="container hidden block" id="first">

            <h2>
                {{short_bio1|linebreaks}}
               
            </h2>
            
            <h3>
                {{short_bio2|linebreaks}}
               
            </h3>
            <br>
            <p id = "brief">{{short_bio3}}</p>

        </div>
        <br>
        <br>
        <div class="container hidden block" id="status">
            <h2>Employment Status</h2>
            <br>
            <p>{{status}}</p>
        </div>
        <br>
        <br>
    </div>
    <script src = "{% static "firstapp/scripts/animations.js" %}"></script>
    {% endblock %}