{% extends 'firstapp/base.html' %}
{% load socialaccount %}

    {% block title%}Index Page{%endblock%}

    {% block content %}

    

    <div class="container">
        <div class="jumbotron">
            <h1>Hello, {{message}}
                {% if user.is_authenticated %}
                <span>
                    {{ user.first_name }}
                    {{ user.last_name }}!
                </span>
                {% endif %}
                
            </h1>
        </div>

        <div class="jumbotron">
            <h2>About Me</h2>
            <hr>
            <p>{{short_bio}}</p>
        </div>

        <div class="jumbotron">
            <h2>Employment Status</h2>
            <hr>
            <p>{{status}}</p>
        </div>
    </div>
    {% endblock %}